<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.ReviewMapper">
	
	<!-- 추가 쿼리문 -->
	<select id="selectproduct" parameterType="int" resultType="reviewVO">
		SELECT * FROM REVIEW WHERE PID=#{pid} ORDER BY id DESC
	</select>
	<select id="selectstaravg" parameterType="int" resultType="int">
		SELECT AVG(star) AS staravg FROM review
		WHERE PID=#{pid}
	</select>
	<select id="selectreviewcnt" parameterType="int" resultType="int">
		SELECT COUNT(id) AS count FROM review
		WHERE PID=#{pid}
	</select>
	
	<!-- 안원영 추가 - mypage(나의 리뷰 모아보기) 에서사용 --><!-- 유저 id로된 review 모두가져오기 -->
	<select id="selectuserall" parameterType="String"
		resultType="reviewVO">
		SELECT r.id, r.pid, r.star, r.text, r.regdate, r.filename,
		r.uid,
		p.name, p.price, p.imgname1, p.color
		FROM review r
		INNER JOIN product p ON p.id = r.pid
		WHERE UID=#{id}
	</select>
	<!-- 안원영 추가 회원탈퇴 삭제  -->
	<delete id="deleteuserid" parameterType="String">
		DELETE FROM REVIEW WHERE UID=#{id}
	</delete>
	
	<select id="select" parameterType="String" resultType="reviewVO">
		SELECT * FROM REVIEW WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="reviewVO">
		SELECT * FROM REVIEW
	</select>
	<insert id="insert" parameterType="reviewVO">
		INSERT INTO REVIEW VALUES (#{id},#{pid},#{star},#{text},sysdate())
	</insert>
	<update id="update" parameterType="reviewVO">
		UPDATE REVIEW SET STAR=#{star},TEXT=#{text} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM REVIEW WHERE ID=#{id}
	</delete>
</mapper>
