
<meta charset="UTF-8">
<div class="block-sm login_box">
	<h3>Get in Touch</h3>
	<p>We are available 24/7 by fax, e-mail or by phone. You can also
		use our quick contact form to ask a question about our services and
		projects we’re working on.</p>
	<div class="comments-form-wrapper clearfix comment-respond">
		<form class="comment-form" method="post" id="postComment" action="">
			<div class="field">
				<label for="name">Name<em class="required">*</em></label> <input
					type="text" class="input-text" title="Name" value="" id="user"
					name="user_name">
			</div>
			<div class="field">
				<label for="email">Email<em class="required">*</em></label> <input
					type="text" class="input-text validate-email" title="Email"
					value="" id="email" name="user_email">
			</div>
			<div class="clear"></div>
			<div class="field aw-blog-comment-area">
				<label for="comment">Your Message<em class="required">*</em></label>
				<textarea rows="5" cols="50" class="input-text" title="Comment"
					id="comment" name="comment"></textarea>
			</div>
			<div style="width: 96%" class="button-set">
				<input type="hidden" value="1" name="blog_id">
				<button type="submit" class="btn submit">
					<span><span>Add Comment</span></span>
				</button>
			</div>
		</form>
	</div>
</div>