<meta charset="UTF-8">
<style>
.margin {
	margin: 20px;
}
</style>


<div class="container-fluid">
	<div class="row">
		<div>
			<div class="row">
				<div class="col-sm-6">
					<h2>나의 상품리뷰 쓰기</h2>
					<span> 최근 1달 사이 구매한 상품 리뷰</span>
				</div>
				<div class="col-sm-6 text-right">
					<a href="#">전체보기 > </a>
				</div>

			</div>
			<hr>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>상품이름</th>
						<th>상품코드</th>
						<th>가격</th>
						<th>구매날짜</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr>
						<td>Mary</td>
						<td>Moe</td>
						<td>mary@example.com</td>
					</tr>
					<tr>
						<td>July</td>
						<td>Dooley</td>
						<td>july@example.com</td>
					</tr>
				</tbody>
			</table>
			</ul>
		</div>
		<hr>
	</div>

	<div class="row">
		<div class="margin">&nbsp</div>
	</div>
	<div class="row">
		<div>
			<div class="row">
				<div class="col-sm-6">
					<h2>나의 리뷰 모아보기</h2>
				</div>
				<div class="col-sm-6 text-right">
					<a href="#">전체보기 > </a>
				</div>

			</div>
			<hr>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/mypage/center">My Page</a></li>
			</ul>
		</div>
		<hr>
	</div>

</div>
